@use './styles/base/reset.scss';
@use './styles/base/typography.scss';

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}