@use 'sass:map';

@import "@fontsource/inter/300.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/700.css";

/* Reset SCSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Typography */


$font-main: "Inter", sans-serif;

$font-size: (
  xs: 0.625rem,  // 10px
  s: 0.75rem,    // 12px
  m: 1rem,       // 16px
  l: 1.25rem,    // 20px
  xl: 1.5rem,    // 24px
  xxl: 3rem      // 32px
);

@function font-size($size) {
  @return map.get($font-size, $size);
}

body {
    font-family: $font-main;
}

.text-tiny {
    font-size: font-size(xs);
}

.text-small {
    font-size: font-size(s);
}

.text-medium {
    font-size: font-size(m);
}

.text-large {
    font-size: font-size(l);
}

.heading-small {
    font-size: font-size(l);
}

.heading-medium {
    font-size: font-size(xl);
}

.heading-large {
    font-size: font-size(xxl);
}





